* {
    box-sizing: border-box;
}

// Body
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: $dark;
    color: $light;
    overflow: hidden;
}

// Header and footer
.header,
.footer {
    width: 100%;
    background-color: $dark;
    color: $light;
}

// Lists
ul,
ol {
    list-style-type: none;
}

// Inputs and buttons
.circle-input,
.bar-input {
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: $light;
    color: $dark;
}
.circle-input {
    width: 40px;
}
.bar-input {
    padding-left: 20px;
    padding-right: 20px;
}

// Focus, hover
input:focus,
button:focus,
a:focus {
    outline: none;
    box-shadow: $mintsemi 0px 0px 0px 2px;
    background-color: $mintcream;
    z-index: 1;
}

// Links
a:link,
a:visited,
a:active,
a:focus,
a:hover {
    color: inherit;
    background: inherit;
}
a {
    text-decoration: none;
}
