@import "../../../css/abstracts/variables";

.metronom {
    .description {
        margin: 0.7rem 0 -0.3rem 0;
        font-size: 0.7rem;
    }
    .metronom-body {
        margin: 0;
        .metronom-element {
            height: 20px;
            border: 0px solid $dark;
            border-right-width: 1px;
            &:first-child {
                border-left-width: 1px;
            }
            &.active {
                background-color: $dark;
            }
        }
    }
}
