.lyrics-header {
    h2 {
        margin-bottom: $space-2;
    }
    margin: $space-4 0;
}
.lyrics-body {
    height: 240px;
    overflow-y: scroll;
    border: 1px solid $dark;
    .lyrics-section {
        &:first-child {
            margin-top: 80px;
        }
        &:last-child {
            margin-bottom: 80px;
        }
        height: 80px;
        font-size: 30px;
        @media (max-width: $break-l) {
            font-size: 20px;
        }
        position: relative;
        .section-content {
            text-align: center;
            height: 70px;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            .lyrics-text,
            .lyrics-chords {
                height: 35px;
                line-height: 35px;
                vertical-align: middle;
            }
        }
    }
}
