@import "variables";
@import "grid";
@import "animation";

* {
   box-sizing: border-box;
}
body {
   margin: 0;
   padding: 0;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 15px;
   background-color: $dark;
   color: $light;
}
a:link,
a:visited,
a:active,
a:hover {
   color: inherit;
}
a {
   text-decoration: none;
}
.header,
.footer {
   width: 100%;
   background-color: $dark;
   color: $light;
}
.header {
   height: $headerH;
   > .container {
      display: flex;
      justify-content: space-between;
      padding-top: $headerPadding;
      padding-bottom: $headerPadding;
   }
   .search {
      width: 100%;
      margin-right: $space-1;
      max-width: 650px;
      button {
         border-top-left-radius: 0;
         border-bottom-left-radius: 0;
         width: 60px;
         cursor: pointer;
      }
      input {
         border-top-right-radius: 0;
         border-bottom-right-radius: 0;
         border-right: 1px solid $dark;
         width: calc(100% - 60px);
      }
   }
}
.footer {
   height: $footerH;
   text-align: center;
}
.main {
   height: calc(100vh - #{$headerH} - #{$footerH});
   overflow-y: scroll;
   background-color: $light;
   color: $dark;
}
.logo {
   font-weight: 700;
   font-size: $space-4;
   line-height: 20px;
   margin: 0;
}
ul,
ol {
   list-style-type: none;
}
.circle-input,
.bar-input {
   height: 40px;
   border-radius: 20px;
   border: none;
   background-color: $light;
   color: $dark;
}
.circle-input {
   width: 40px;
}
.bar-input {
   padding-left: 20px;
   padding-right: 20px;
}
